
<!--bring all together--> <link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css"/>
    <link href="../../assets/global/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css">
    <!--for outside colour   <link href="../../assets/admin/layout3/css/layouts.css" rel="stylesheet" type="text/css">-->
     <!--Extended modal ajax-->
                            <a class="btn default" data-target="#stack3" data-toggle="modal">
                                View Demo </a>


<div id="stack3" class="modal fade" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Stack Three</h4>
    </div>
    <div class="modal-body">
        <p>
            One fine body…
        </p>
        <input class="form-control" type="text" data-tabindex="1">
        <input class="form-control" type="text" data-tabindex="2">
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
        <button type="button" class="btn green">Ok</button>
    </div>
</div>
<!--Extended modal ajax-->
        <br />
<br />
<!--Extended modal full-->

<!--Extended modal full-->

<script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script><!--for modal to come up-->

