
    <link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../assets/global/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css">


    <!--modal long -->


        <a class=" btn default" data-toggle="modal" href="#static">Long </a>

        <div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-body">
                        <p>
                            Would you like to continue with some arbitrary task?
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn default">Cancel</button>
                        <button type="button" data-dismiss="modal" class="btn green">Continue Task</button>
                    </div>
                </div>
            </div>
        </div>


    <!--/modal long -->

    <!--modal full -->


<script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script><!--for popup-->


