
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
    <link href="../../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../../assets/global/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css">
<div class="page-container">
    <div class="page-head">
    </div>
    <div class="page-content">
        <div class="container">
            <div class="portlet light">
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Serialised Output (per list)</h3>
                            <textarea id="nestable_list_1_output" class="form-control col-md-12 margin-bottom-10"></textarea>
                            <textarea id="nestable_list_2_output" class="form-control col-md-12 margin-bottom-10"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
